<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:config.properties"/>

	<bean class="com.leichu.spring.learn.bean.custom.MyBeanPostProcessor"/>
	<bean class="com.leichu.spring.learn.bean.custom.MyBeanFactoryPostProcessor"/>

	<!--使用无参构造器-->
	<bean id="user" class="com.leichu.spring.learn.common.model.User" init-method="myInit" destroy-method="myDestroy">
		<property name="name" value="${user.name}"/>
		<property name="age" value="10"/>
	</bean>
	<!--使用有参构造器-->
<!--			<bean id="user" class="com.leichu.spring.learn.common.model.User" init-method="myInit" destroy-method="myDestroy">-->
<!--				<constructor-arg name="name" value="${user.name}"/>-->
<!--				<constructor-arg name="age" value="10"/>-->
<!--			</bean>-->

</beans>